@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  background-color: #131316;
  color:azure;
  font-family: 'Lato' , sans-serif;
  padding: 0;
  margin: 0
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 2s;
  transform: translateX(-100%);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

img {
  width: 150px;
  height: 150px;
}

.logos {
  display: flex;
  align-items: center;
}

.logos:nth-child(2){
  transition-delay: 200ms;
}

.logos:nth-child(3){
  transition-delay: 400ms;
}

.logos:nth-child(4){
  transition-delay: 600ms;
}

.logos:nth-child(5){
  transition-delay: 800ms;
}

.logos:nth-child(6){
  transition-delay: 1000ms;
}